body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}

/*==================== Common Css ====================*/
h1{
    font-size: 50px;
    text-transform: capitalize;
}
h2{
    text-transform: capitalize;
    font-size: 40px;
    line-height: 40px;
}
h3{
    font-size: 20px;
    font-weight: 700;
}
p{
    color: gray;
    font-size: 16px;
    line-height: 26px;
}
section{
    padding-bottom: 120px;
}
.link-btn{
    text-decoration: none;
    text-transform: uppercase;
    background-color: orange;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
}
.half-width{
    margin: 0 50px;
}
.half-width img{
    width: 100%;
}
.orange-highlight{
    color: orange;
}
.top-banner p, .dream-area p{
    margin-bottom: 65px;
}

/*==================== top banner css ====================*/
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    padding-top: 50px;
}
.top-banner h3{
    margin-top: 15px;
}

/*==================== dream-area css ====================*/
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dream-area h2{
    margin-bottom: 30px;
}

/*==================== experience-area css ====================*/
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.experience-area > h2{
    margin-bottom: 50px;
    margin-left: 7%;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: #ffffff;
}
.experience-area .half-width{
    padding: 65px 25px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.experience-area .half-width h2{
    margin-bottom: 30px;
}
.experience-area .half-width h3{
    margin-bottom: 12px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

/*==================== footer css ====================*/
.footer p{
    text-align: center;
    margin-bottom: 30px;

}
/*==================== Responssive css ====================*/
@media only screen and (max-width: 991px) {
    #full-stack{
        margin-bottom: 30px;
    }
    .half-width:nth-child(1) {
        margin-bottom: 65px;
    }
}
@media only screen and (max-width: 768px) {
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 32px;
    }
}
@media only screen and (min-width: 992px) {
    .top-banner, .dream-area{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top-banner .half-width:nth-child(1){
        margin-bottom: 50px;
    }
   
    .half-width{
        width: 40%;
    }
    .experience-wrapper{
        display: flex;
        justify-content: center;
    }
    .experience-area .half-width{
        width: 37%;
    }
}